.topBar {
    height: 10%;
    width:30%;
    padding: 15px;
}

.ProjectPage {
    float: right;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headshot {
    max-width: 25%;
    height: auto;
}